<div class="row">
  <div class="col-md-4 pull-right">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-right">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="add-item" style="font-family: 'Josefin Sans', sans-serif;">
<%= render partial: 'items/form', locals: { user: @user, item: Item.new } %>
</div>

<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="item-list" style="font-family: 'Josefin Sans', sans-serif;">
       <h3 style="font-weight:bold;">Your Tasks</h3>
       <h6 class="media-heading" style="color:grey">Check completed items as done!</h6>
        <div class='js-items'>
          <%= render @user.items %>
        </div>
      </div>
    </div>
  </div>
</div>
