<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
      <%= link_to "", user_item_path(@user, item), method: :delete, class: 'glyphicon glyphicon-ok' %>
    </h4>
  </div>
</div>
