<div class="media">
  <div class="media-body">
    <h3 class="media-heading">
      <%= item.name %>
      <%= link_to "", user_item_path(@user, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </h3>
    <h6 class="media-heading">
      <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %> left!
    </h6>
  </div>
</div>
